
@font-face {
    font-family: terror;
    src: url("font/another_danger/Another\ Danger\ -\ Demo.otf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

p{
    font-size: 100px;
    font-family: terror;
    color: rgb(49, 1, 1);

}